<h2>DESCARGAR ARCHIVO COMPRIMIDO</h2>
@model List<string>

<!--Form:
Index = Es el metodo al que vamos a llamar
FileUpload = El controlador donde se encuentra el metodo Index
FormMethod.Post = Tipo de metodo
multipart/form-data  = tipo de objeto-->
@using (Html.BeginForm("ReadLZW", "ReadText", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <table>
        <tr>
            <th>Name</th>
            <th>Actions</th>
            <th></th>
        </tr>
        @for (var i = 0; i <= Model.Count - 1; i++)
        {
            <tr>
                <td>@Model[i].ToString() </td>
                <td>@Html.ActionLink("Descomprimir", "Descomprimir", new { TxtName = @Model[i].ToString() }) </td>
            </tr>
        }
    </table>
}